ultralytics
opencv-python
mediapipe
numpy
torch
torchvision
torchaudio
pandas
scikit-learn
scipy
matplotlib
seaborn
Pillow
opencv-contrib-python
fastapi
uvicorn
python-multipart
requests
jinja2
aiofiles
playsound
sqlalchemy
tqdm
pydantic
pyyaml
